
@media  only screen and (max-width: 1279px){
    
    body{
        font-family: "Hind Vadodara", sans-serif;
        overflow-x: hidden;
    }
    .index-div {
        padding: 0px 0%;
    }
    .first-head-svg-2 {
        position: absolute;
        right: 43.8%;
        top: -10%;
    }
    .tw-sec-list li {
        padding: 20px 25px;
    }
    .tw-sec-list{
        justify-content: space-around;
        padding-bottom: 40px;
        padding-top:123px;
    }
    .first-head-svg-3 {
        margin-top: -7%;
        position: absolute;
        left: 62.1%;
    }
    .first-head-svg-4{
        position: absolute;
        top: 10%;
        left: 56%;
    }
    .thrice-section p {
        padding: 0 75px;
    }
    .thr-sec-abs-left {
        display: none;
    }
    .tw-mn-abs-right{
        display: none;
    }
    .frs-main-1{
        display: none;
    }
    .frs-main-back{
        background-image: none;
    }
    .frs-mn-mrg-lft-1 {
        margin: 0px 24px 0 87px;
    }
    .frs-mn-mrg-lft-3 {
        margin-top: 0px;
    }
    .thrice-main {
        margin-left: 16%;
    }
    .four-section .col-md-5{
        width: 608px;
    }
    .four-section .col-md-7{
        width: 320px;
    }
    .col-md-7 svg{
        width: 320px;
        height: 213px;
    }
    .five-section{
        height: 214px;
    }
    .four-section .col-md-5 br{
        display: none;
    }
    .five-section .five-section-adding{
        width:608px;
    }
    .five-section .five-section-adding br{
        display: none;
    }
    .sec-hide-2{
        width: 319px;
    }
    .sec-hide-2 svg{
        width: 319px;
        height: 213px;
    }
    .six-section .col-md-5{
        width: 608px;
    }
    .six-section .col-md-7{
        width: 320px;
    }
    .six-section .col-md-7 svg{
        width: 319px;
        height: 213px;
    }
    .six-section .col-md-5 br{
        display: none;
    }
}
@media  only screen and (max-width: 992px){
    body{
        font-family: "Hind Vadodara", sans-serif;
        overflow-x: hidden;
    }
    .index-div {
        padding: 0px 4%;
    }
    .first-head-svg-2 {
        position: absolute;
        right: 18%;
        top: -10%;
    }
    .first-head-svg-3 {
        margin-top: -22%;
        position: absolute;
        left: 81.8%;
    }
    .first-head-svg-4{
        position: absolute;
        top: 10%;
        left: 75%;
    }
    .tw-sec-list {
        margin-left: -34px;
        margin-right: -50px;
    }
    .four-section .col-md-5 {
        width: 352px;
    }
    .fr-sec-pad {
        padding: 0 19px;
    }
    .four-section .col-md-7 {
        width: 320px;
        float: right;
    }
    .five-section .five-section-adding {
        width: 362px;
        float: right;
    }
    .five-section svg {
        margin-left: 0;
    }
    .sec-hide-2 {
        width: 319px;
        float: left;
    }
    .six-sec-pad {
        padding: 0;
    }
    .six-section .col-md-5 {
        width: 352px;
        float: left;
    }
    .six-section .col-md-7 {
        width: 320px;
        float: right;
    }
    .frs-main-back {
        width: 750px;
        height: 800px; 
    }
    .block{
        display: inline-flex;
    }
    .frs-mn-mrg-lft-1 {
        margin: 0px 24px 0 45px;
    }
    .frs-main {
        display: inline;
    }
    .resp-3 {
        padding-left: 34%;
        padding-top: 15px;
    }
    .twc-mn-1 {
        margin-left: 4%;
        float: left;
    }
    .thrice-main {
        margin-left: 12%;
    }
    .thrice-main {
        width: 647px;
    }
    .foot-1 {
        margin-top: 20%;
    }
    .copyr li {
        position: absolute;
        padding: 11px 0;
        margin-left: -28px;
    }
    .about-tab {
        float: right;
        font-size: 13px;
        margin-right: 3%;
    }
    .copyr{
        float: unset;
    }
    .foot-1 ul li a{
        margin-left: -35px;
    }       
}

@media screen and (max-width: 690px){
    .twice-main {
        height: auto;
    }
}

@media screen and (max-width: 630px) {
    body{
        font-family: "Hind Vadodara", sans-serif;
        overflow-x: hidden;
    }
    .index-div {
        padding: 0 4%;
    }
    .first-head-svg-2 {
        position: absolute;
        left: 68%;
        top: -8%;
    }
    .tw-sec-list {
        margin-top: 316px;
    }
    .first-head-svg-3 {
        position: absolute;
        left: 27%;
        top: 622px;
    }
    .first-head-svg-3 svg{
        width: 396px;
        height: 366px;

    }
    .first-head-svg-4 {
        position: absolute;
        top: 622px;
        left: 19%;
    }
    .first-head-svg-4 svg{
        width: 350px;
        height: 240px;
    }
    .first-section .col-md-7 h1 {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -0.1px;
        text-align: center;
    }  
    .first-section .col-md-7 .p1 {
        color: #5B6A87;
        font-size: 19px;
        margin-bottom: 32px;
        text-align: center;
    } 
    .first-section .col-md-7 .p1 br{
        display: none;
    }
    .frs-sec-div {
        margin-left: 29%;
    }
    .tw-sec-list {
        display: grid;
    }
    .thrice-section p {
        padding: 0 30px;
        font-size: 20px;
        line-height: 30px;
    }
    .thrice-section h2 {
        padding-bottom: 20px;
        letter-spacing: 0.1px;
    }
    .sec-hide-1 {
        margin-right: 14%;
    }
    .four-section .col-md-5 {
       
        margin-left: 21%;
    }
    .sec-hide-2 {
        margin-left: 14%;
    }
    .sec-hide-3 {
        margin-right: 14%;
    }
    .six-section {
        margin: 40px 0;
        height: auto;
    }
    .six-section .col-md-5 {
        margin-left: 24%;
    }
    .resp-1 {
        display: block;
    }
    .frs-mn-mrg-lft-2 {
        margin: 4% 25px 0 7%; 
    }
    .frs-main-back {
        width: 750px;
        height: auto;
    }
    .resp-3 {
        padding-left: 12%;
    }
    .twc-mn-1 {
        margin-left: 11%;
        float: left;
    }
    .twice-main .twc-mn-2 {
        margin-left: 11%;
    }
    .twice-main {
        height: auto;
    }
    .thrice-main {
        width: 350px;
    }
    .thr-mn-1 h4 {
        color: #1D2B4C;
        padding: 10px 0;
        cursor: pointer;
    }
    .thr-mn-1 h4 b{
        font-size: 12px;
    }
    .thr-mn-1 h4 br{
        display: inline;
    }
    .thr-mn-2 h4 {
        color: #1D2B4C;
        padding: 10px 0;
        cursor: pointer;
        font-size: 12px;
    }
    .thr-mn-2 h4 b{
        font-size: 12px;
    }
    .thr-mn-3 h4 {
        color: #1D2B4C;
        padding: 10px 0;
        cursor: pointer;
        font-size: 12px;
    }
    .thr-mn-3 h4 b{
        font-size: 12px;
    }
    .thr-mn-3 h4 br{
        display: inline;
    }
    .thr-mn-4 h4 {
        color: #1D2B4C;
        padding: 10px 0;
        cursor: pointer;
        font-size: 12px;
    }
    .thr-mn-4 h4 b{
        font-size: 12px;
    }
    .thr-mn-1-p br{
        display: none;
    }
    .thr-mn-1-p {
        font-size: 13px;
    }
    .thr-mn-2 p br{
        display: none;
    }
    .thr-mn-2 p {
        font-size: 13px;
    }
    .thr-mn-3 p br{
        display: none;
    }
    .thr-mn-3 p {
        font-size: 13px;
    }
    .thr-mn-4 p br{
        display: none;
    }
    .thr-mn-4 p {
        font-size: 13px;
    }
    .foot-1 {
        margin-top: 15%;
    }
    .pin-1{
        position: absolute;
        left:50%;
    }
    .about-tab {
        margin-right: 15%;
        margin-top: 1%;
    }
    .copyr li {
        position: absolute;
        padding: 0px 0;
        margin-left: 71px;
        top: 152px;
    }
    .soc-netw {
        float: right;
        margin-top: 9%;
        margin-right: 29%;
    }

}